.toolbar {
  position: relative;
  background-color: red;
  width: 100vw;
  height: 4.75vw;
}

.fasthelp {
  position: relative;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  left: 38.13vw;
  width: 379px;
  height: 39px;
}

.society {
  position: absolute;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  left: 40.13vw;
}
